<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<include resource="org/springframework/boot/logging/logback/defaults.xml" />
	<include
		resource="org/springframework/boot/logging/logback/console-appender.xml" />
		
	<springProfile name="debug">
		<logger name="lhc" level="DEBUG" />
	</springProfile>
		
	<springProfile name="showSql">
		<logger name="org.hibernate.type" level="ALL" />
		<logger name="org.hibernate.SQL" level="DEBUG" />
	</springProfile>

	<root level="INFO">
		<appender-ref ref="CONSOLE" />
	</root>

	<springProfile name="dev, uat, staging, prod">
		<appender name="FILE"
			class="ch.qos.logback.core.rolling.RollingFileAppender">
			<file>${LOG_PATH}/current.log</file>
			<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
				<fileNamePattern>${LOG_PATH}/%d{yyyy-MM-dd}.log
				</fileNamePattern>
				<maxHistory>30</maxHistory>
				<totalSizeCap>3GB</totalSizeCap>
			</rollingPolicy>
			<encoder>
				<pattern>${FILE_LOG_PATTERN}</pattern>
			</encoder>
		</appender>

		<root level="INFO">
			<appender-ref ref="FILE" />
		</root>
	</springProfile>

</configuration>
